<launch>

<!-- vehicle name e.g. cc2017_car -->
<arg name="vehicle" default="cc2017_car"/>
<arg name="homography_topic" default="/camera/camera_homography"/>


<!-- define nice value of process (lower means higher priority) [-20;19] -->
<!-- more infos: https://en.wikipedia.org/wiki/Nice_(Unix) -->
<arg name="nice_val" default="-5"/>

<!-- Camera Node -->
<node name="ximea" pkg="drive_ros_ximea_importer" type="ximea_camera_node" output="screen" launch-prefix="nice -n $(arg nice_val)" respawn="true">
  <rosparam param="camera_param_file_paths" subst_value="true">[$(find drive_ros_ximea_importer)/config/config_$(arg vehicle).yaml]</rosparam>
  <param name="frame_rate" type="double" value="100.0" />
</node>

<!-- deactive unused image transport plugins -->
<!-- https://answers.ros.org/question/255970/how-to-deactivate-image_transport-plugins/ -->
<group ns="camera/image_raw" >
  <rosparam param="disable_pub_plugins">
    - 'image_transport/compressed'
    - 'image_transport/compressedDepth'
    - 'image_transport/theora'
  </rosparam>
</group>

<!-- homography publisher -->
<include file="$(find drive_ros_ximea_importer)/launch/homography_publisher.launch">
    <param name="homography_topic" value="$(arg homography_topic)"/>
</include>

</launch>
